<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<util:properties id="databaseParams">
		<prop key="database.driver">com.mysql.jdbc.Driver</prop>
		<prop key="database.url">jdbc:mysql://localhost:3306/wifi</prop>
		<prop key="database.user">wifi</prop>
		<prop key="database.passwd">wifi</prop>
	</util:properties>

	<bean id="cursoDAO" class="wifi.dao.CursoJdbcDAO">
		<constructor-arg ref="databaseParams" />
	</bean>

</beans>
